@model Secheli_Stefania_Proiect.Models.StoreViewModels.RecorderIndexData
@{
    ViewData["Title"] = "Recorders";
}
<h2>Recorders</h2>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Recorder Name</th>
            <th>Adress</th>
            <th>Albums</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Recorders)
        {
            string selectedRow = "";
            if (item.ID == (int?)ViewData["RecorderID"])
            {
                selectedRow = "success";
            }
            <tr class="@selectedRow">
                <td>
                    @Html.DisplayFor(modelItem => item.RecorderName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Adress)
                </td>
                <td>
                    @{
                        foreach (var album in item.RecordedAlbums)
                        {
                            @album.Album.ID @: @album.Album.Name <br />
                        }
                    }
                </td>
                <td>
                    <a asp-action="Index" asp-route-id="@item.ID">Select</a> |
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


@if (Model.Albums != null)
{
    <h3>Albums Recorded by Selected Recorder</h3>
    <table class="table">
        <tr>
            <th></th>
            <th>Name</th>
            <th>Artist</th>
            <th>Price</th>
        </tr>
        @foreach (var item in Model.Albums)
        {
            string selectedRow = "";
            if (item.ID == (int?)ViewData["AlbumID"])
            {
                selectedRow = "success";
            }
            <tr class="@selectedRow">
                <td>
                    @Html.ActionLink("Select", "Index", new { albumID = item.ID })
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Artist
                </td>
                <td>
                    @item.Price
                </td>
            </tr>
        }
    </table>
}
@if (Model.Orders != null)
{
    <h3>
        Customers that have ordered the Selected Album
    </h3>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Order Date</th>
        </tr>
        @foreach (var item in Model.Orders)
        {
            <tr>
                <td>
                    @item.Customer.Name
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDate)
                </td>
            </tr>
        }
    </table>
}